/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
bootstrap/cache/*.php
Thumbs.db
.DS_Store
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.history
/StaffLog.adl
/public/css/app.css
scheduler.bat
